<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Angular 2</a>
  <ul class="nav navbar-nav">
    <li class="nav-item" [class.active]="tab == 'home'"
      (click)="tab = 'home'">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item" [class.active]="tab == 'features'"
        (click)="tab = 'features'">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item" [class.active]="tab == 'about'"
        (click)="tab = 'about'">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
</nav>

<div class="container" [ngSwitch]="tab">
  <h1 *ngSwitchCase="'home'">Home</h1>
  <h1 *ngSwitchCase="'features'">Features</h1>
  <h1 *ngSwitchCase="'about'">About</h1>
  <h1 *ngSwitchDefault>Home</h1>
</div>
